.kr-filter-list {
  height: 100%;

  // .clearBtn {
  //   border: 1px solid #0d60b4;
  //   color: #0d60b4;
  // }
  .isActive {
    background-color: #f8f8f8;
  }
  .chosedSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px 4px 10px;
    line-height: 23px;
    border-bottom: 1px solid var(--el-border-color);
  }
  .el-scrollbar {
    :deep(.el-tree) {
      height: 80%;
      overflow: auto;
    }
  }
  .select-icon-close {
    padding: 3.5px;
    background-color: #e5e7ea;
    border-radius: 4px;
  }
}
