.kr-table-search {
  :deep(.kr-card__body) {
    padding-bottom: 0;
  }

  --operation-margin: 16px;
  .el-form {
    display: flex;
    flex-direction: row;

    // 去除时间选择器上下 padding
    .el-range-editor.el-input__wrapper {
      padding: 0 10px;
    }

    // el-select 为多选时不换行显示
    .el-select__tags {
      overflow: hidden;
      white-space: nowrap;
    }
    .input-with-select .el-input-group__append,
    .el-input-group__prepend {
      background: #ffffff;
    }
    .el-form-item.labelHide {
      .el-form-item__label-wrap {
        width: 1px;
        margin-left: 0 !important;
      }
    }
  }
  .grid {
    flex: 1;
    width: 100%;
  }
  .operation {
    display: flex;

    // justify-content: flex-end;
    margin-bottom: var(--operation-margin);
    .search-isOpen.el-button.is-link {
      height: var(--el-component-size);
    }
  }
}
.microphoneClassPopper {
  border: none !important;
  border-radius: 0 !important;
}
