.app-inspection {
  --list-padding-horizen: 12px;
  .kr-card__header {
    height: 57px;
  }
  .two-col-page-lf {
    --lf-width: 360px;
    --lf-rt-margin: 24px;
  }
  .item-num {
    font-size: var(--el-font-size-base);
    color: var(--el-text-color-regular);
  }
  .finished-num {
    color: var(--el-color-primary);
  }

  // 进度条
  .el-progress-bar__outer {
    background-color: var(--el-border-color);
    border-radius: 0;
  }
  .el-progress-bar__inner {
    border-radius: 0;
  }
  * {
    line-height: 1;
  }
  .list-scroll {
    .el-scrollbar__wrap {
      scroll-behavior: smooth;
    }
  }
}
