.home {
  width: 100%;
  height: 100%;
  font-family: SourceHanSansCN-Regular;
  .home-welcome {
    height: 64px;
    line-height: 64px;
  }
  .home-box {
    display: flex;
    width: 100%;
    height: calc(100% - 64px);
    .flex-left {
      width: calc(58.5% - 8px);
      .grid {
        display: flex;
        gap: 16px;
        width: 100%;
        height: 50%;
        .card-equipment {
          flex-basis: 55%;
          :deep(.kr-card__body) {
            flex-direction: row;
            gap: 16px;
            padding: 10px 0 12px 24px;
          }
          .equipment {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-evenly;
            cursor: pointer;
            &::before {
              position: absolute;
              top: 20px;
              bottom: 0;
              left: -9px;
              width: 2px;
              height: 100%;
              content: '';
              background: #22c1c3;
              background: linear-gradient(
                0deg,
                rgb(34 193 195 / 0%) 0%,
                rgb(238 238 238 / 100%) 50%,
                rgb(253 187 45 / 0%) 100%
              );
              border-radius: 5px;
            }
            &:first-child::before {
              display: none;
            }
            .equip-title {
              color: #666666;
            }
            .equip-num {
              display: flex;
              margin-top: 10px;
              img {
                width: calc(96px / 1.5);
                height: calc(72px / 1.5);
                margin-top: 8px;
              }
              .value {
                font-size: 20px;
                color: #333333;
              }
              .value-online {
                font-size: 28px;
                font-weight: 500;
                line-height: 28px;
                color: #0d60b4;
              }
              .label {
                font-size: 14px;
                line-height: 29px;
                color: #999999;
              }
              .value-label {
                line-height: 33px;
              }
            }
            .equip-item {
              flex-shrink: 0;
              margin-left: 10px;
            }
            .equip-item1 {
              flex-shrink: 0;
              margin-left: 5px;
            }
          }
        }
        .card-linkage {
          flex-basis: 22%;
          margin-left: 0;
          :deep(.kr-card__body) {
            .alarm {
              width: 100%;
            }
          }
        }
      }
      .left-bottom {
        display: flex;
        height: calc(50% - 16px);
        margin-top: 16px;
      }
      .card-alarm,
      .card-linkage {
        width: 50%;
        :deep(.kr-card__body) {
          display: flex;
          flex-direction: row;
          .alarm {
            display: flex;
            align-items: center;
            width: 50%;
            cursor: pointer;
            img {
              width: 60px;
              height: 60px;
              margin-right: 15px;
            }
            .name {
              margin-top: -5px;
              font-size: 16px;
              line-height: 30px;
              color: #666666;
              &.en {
                font-size: 12px;
                line-height: 16px;
              }
            }
            .value {
              font-size: 28px;
              font-weight: 500;
            }
          }
        }
      }
      .card-linkage {
        margin-left: 16px;
      }
    }
    .flex-right {
      width: calc(41.5% - 8px);
      margin-left: 16px;
      .flex-top {
        .kr-card {
          height: 100%;
        }
        :deep(.kr-card__body) {
          // flex-direction:row;
          // flex-wrap: wrap;

          flex-flow: row wrap;
          .apps {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 33%;
            height: 35%;
            padding-left: 20px;
            img {
              width: 64px;
              height: 64px;
              vertical-align: middle;
            }
            span {
              margin-left: 16px;
              color: #666666;
            }
          }
        }
      }
      .flex-bottom {
        :deep(.kr-card__body) {
          overflow-y: auto !important;
          .message {
            height: 64px;
            line-height: 64px;
            color: #666666;
            cursor: pointer;
            border-bottom: 1px solid #e6e6e6;
            .floatRight {
              float: right;
              color: #999999;
            }
            .messageCon {
              display: inline-block;
              width: calc(100% - 170px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .message:hover,
          .message.active {
            color: #0d60b4;
            background: #f8f8f8;
          }
        }
      }
    }
    .flex-left,
    .flex-right {
      height: 100%;
      .flex-top {
        // height: calc(39.5% - 8px);
        height: calc(39.5% - 8px);
      }
      .flex-bottom {
        height: calc(60.5% - 8px);
        margin-top: 16px;
      }
    }
  }
}
