.kr-public-dialog {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-height: calc(100% - var(--el-dialog-margin-top) - 50px);
  border-radius: 0;
  .kr-card {
    --kr-card-horizen-padding: 12px;
    --kr-card-vertical-padding: 12px;
    --kr-card-title-size: 16px;

    // border: 1px solid var(--el-border-color-light);
  }
  .is-fullscreen {
    position: relative;
    width: 95%;
    height: 95%;
    margin-top: 1%;
    overflow: auto;
  }
  .el-dialog__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin-right: 0;
    font-family: var(--kr-font-medium);
    font-size: 18px;
    text-align: left;
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f4;
    border-radius: 8px 8px 0 0;
  }
  .el-dialog__headerbtn {
    position: static;
    width: 28px;
    height: 28px;
    .el-dialog__close {
      font-size: 19px;
      color: var(--el-text-color-regular);
    }
  }
  .el-dialog__body {
    flex: 1;
    height: 100%;
    padding: 20px;
    overflow: auto;
  }
  .is-fullscreen .el-dialog__body {
    height: calc(100% - 101px) !important;
  }
  .el-dialog__footer {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #f3f3f4;
    .dialog-footer__btn {
      width: 140px;
      height: 40px !important;
      margin: 0 12px !important;
      font-size: 16px;
      letter-spacing: 2px;
    }
  }
}
.dialog-footer {
  text-align: center;
}
.dialogAllHeight .el-dialog__body {
  height: calc(100% - 50px) !important;
}
